.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .main-image {
      //   position: relative;
      width: 65%;
      border-radius: 1rem;
    }
    .text {
      padding-left: 1rem;
      font-size: 32px;
      //   position: absolute;
      //   top: 30%;
      //   left: 50%;
      //   transform: translateX(-50%);
    }
  }

  .items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .item {
    width: 400px;
    height: 220px;
    // max-width: 400px;
    // max-height: 200px;
    // min-width: 200px;
    // min-height: 200px;

    // background-color: blue;
    margin: 20px;
    border-radius: 1rem;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
  }
}
