.top {
  height: 284px;
  .inner-top {
    position: relative;
    height: 100%;
  }
}

.top-title {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  line-height: 1.2em;
  letter-spacing: 0.4em;
  // to do
  font-family: "times new roman,times,serif";

  .small-text {
    font-family: helvetica-light;
    font-size: 10px;
    letter-spacing: 2px;

    span {
      color: rgb(196, 199, 205) !important;
    }
  }

  div {
    color: rgb(170, 173, 179) !important;
  }
  span {
    color: #fff;
  }

  img {
    width: 99px;
    height: 99px;
    margin-top: 24px;
  }
}

.items {
  position: sticky;
  top: 0;
  display: flex;
  background-color: rgb(40, 40, 40);
  height: 44px;
  justify-content: center;
  align-items: center;

  div {
    a {
      display: flex;
      align-items: center;
      color: rgb(151, 151, 151);
      font-size: 12px;
      font-family: helvetica-light;

      span {
        padding: 0 33px;
      }

      .line {
        height: 26px;
        width: 1px;
        background-color: rgb(72, 72, 72);
      }
    }
    &:last-child a div {
      display: none;
    }
  }
}
// Footer

footer {
  height: 385px;
  //   object-fit: cover;
}

.footer-main {
  background-image: url("../../../assets/testtest4.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .logo {
    width: 99px;
    margin-bottom: 46px;
  }

  ul {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 0 !important;

    li {
      margin-right: 14px;
      height: 39px;
      width: 39px;

      img {
        height: 100%;
        width: 100%;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.social-title {
  font-size: 15px;
  line-height: 1.2em;
  color: rgb(161, 162, 163);
  font-style: italic;
  margin-bottom: 13px;
}

.company-details {
  font-size: 14px;
  color: rgb(151, 151, 151) !important;
  font-style: italic;
  margin-bottom: 15px;

  a {
    text-decoration: underline;
    color: rgb(151, 151, 151) !important;
  }
}

.rights {
  font-size: 14px;
  color: rgb(151, 151, 151) !important;
  transition: color 0.4s ease 0s;
  cursor: pointer;
  font-style: italic;

  &:hover {
    color: rgb(252, 252, 252) !important;
  }
}
