.home-wrapper {
  margin-bottom: 50px;
  // margin-top: 2rem;

  &:first-child div div {
    height: 100%;
  }
}

// .section {
//   margin-top: 2rem;

//   div {
//     position: relative;
//     width: 100%;
//     height: 100%;

//     p {
//       color: #fff;
//       position: absolute;
//       z-index: 9;
//       bottom: 0%;
//       left: 20px;
//       font-size: 24px;
//     }
//     img {
//       width: 100%;
//       height: 250px;
//       object-fit: fill;
//     }
//   }
// }

.link a:hover {
  color: rgb(121, 121, 121);
}

.section2 {
  margin: 5rem 0;

  .logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }

  .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }
}

.shop {
  text-align: center;
  font-size: 28px;
  margin-bottom: 2.5rem;
}

.section3 {
  .gallery {
    font-size: 24px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .item-wrapper {
    width: 25%;
    padding: 0 1rem;
  }

  .slider-item {
    width: 100%;
    height: 200px;
    border-radius: 1rem;
  }
}

.section4 {
  margin-bottom: 2rem;
  margin-top: 5rem;
  h3 {
    text-align: center;
    font-size: 48px;
  }
  .wrapper {
    display: flex;
    justify-content: space-evenly;
    .contact-image {
      display: none;
    }
    .form {
      margin-top: 2rem;

      display: flex;
      flex-direction: column;

      & div {
        margin-bottom: 0.5rem;
      }
      & button {
        margin-bottom: 2rem;
      }
      p {
        font-weight: bold;
      }
    }

    .button-wrrapper {
      button {
        color: hsl(211, 97%, 60%);
        border-color: hsl(211, 97%, 60%);

        &:hover {
          background-color: rgba(255, 200, 87, 0.04);
        }
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  transition: all 0.2s ease-in-out;

  &:nth-child(2) div div {
    height: 100%;
  }

  &:nth-child(2) div:nth-child(3) {
    top: 15px;
  }
  &:nth-child(2) div:nth-child(2) {
    top: 15px;
  }
}

.close {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 99;
}

.modal-images {
  max-width: 100% !important;
  max-height: 85% !important;
  width: auto !important;
  height: auto !important;
  // margin-left: auto;
  // margin-right: auto;
  margin: auto;
}

.section5 {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .wrapper5 {
    max-width: 936px;

    .innerWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        margin-top: 1rem;
      }

      .text5 {
        margin-top: 2rem;
        padding: 0 1rem;
        color: rgb(121, 121, 122);
        // font-style: italic;
        text-align: start;
        font-size: 16px;
        letter-spacing: normal;
        line-height: normal;
        font-family: "Roman";
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      // max-width: 320px;
      margin-bottom: 2rem;

      img {
        border-radius: 1rem;
        width: 222px;
        height: 150px;
        margin-bottom: 1rem;
      }

      h4 {
        font-size: 20px;
        letter-spacing: 0.1em;
        text-align: center;
      }

      p {
        max-width: 285px;
        font-size: 14px;
        text-align: center;
        color: rgb(161, 162, 163);
        font-style: italic;
        font-family: serif;
        letter-spacing: normal;
        line-height: normal;
      }
    }
  }
}

h1 {
  text-align: center;
  letter-spacing: 0.2em;
  color: rgb(121, 121, 122) !important;
  font-size: 37px;
  line-height: 1.2em;
}

@media only screen and (min-width: 550px) {
  .section5 {
    .wrapper5 {
      .innerWrapper {
        .text5 {
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .logo-container {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .section2 {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  .section4 {
    margin-bottom: 5rem;

    .wrapper {
      .contact-image {
        display: block;
      }
    }
  }
}
