.light {
  box-sizing: border-box;
  padding-left: 2.5%;
  padding-right: 2.5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.dark {
  background-color: rgba(51, 51, 51, 0.6);
  background-color: blue;
  box-sizing: border-box;
  padding-left: 2.5%;
  padding-right: 2.5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.container {
  padding-bottom: 12px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 64px;
    margin-top: 10px;
    display: flex;
  }

  .logo2 {
    margin-top: 4px;
    // width: 64px;
  }

  .items {
    display: none;
    justify-content: space-between;
    width: 550px;

    & div {
      padding: 30px 20px 15px 20px;
      cursor: pointer;
      font-weight: 500;
    }
    & div:hover {
      color: rgb(219, 145, 7);
    }
    .active {
      background-color: orange;
      color: black;
      transition: all 0.7s;
    }
  }

  .last-child-wrapper {
    display: flex;

    margin-top: 16px;

    .burger-wrapper {
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      align-items: end;
      cursor: pointer;

      .burger {
        margin-top: 3px;
        width: 32px;
        border-bottom: 2px solid black;
        margin-bottom: 5px;

        &:first-child {
          width: 24px;
        }

        &:last-child {
          width: 14px;
        }
      }
      .close {
        &:first-child {
          width: 32px;
          transform: rotate(-45deg) translateY(14px) translateX(-8px);
          transition: all 0.5s ease-out;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          width: 32px;
          transform: rotate(45deg) translateY(-6px) translateX(0px);
          transition: all 0.5s ease-out;
        }
      }
      .openburger {
        transition: all 0.5s ease-out;
      }
    }
  }
}
.open-items {
  box-sizing: border-box;
  padding-left: 2.5%;
  padding-right: 2.5%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  position: fixed;
  width: 100%;
  margin-top: 3.5rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.08), 0 2px 0 0 rgba(0, 0, 0, 0.12);
  padding-bottom: 10px;

  div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    padding-bottom: 0px;
    .items {
      display: flex;
    }
    .last-child-wrapper {
      .burger-wrapper {
        display: none;
      }
    }
  }

  .open-items {
    display: none;
  }
}
