.links {
  color: black;
  text-decoration: none;
}
.container {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;

  z-index: 1;
  padding-bottom: 12px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-top: 10px;
    display: flex;
    font-size: 28px;
  }

  .logo2 {
    margin-top: 4px;
    // width: 64px;
  }

  .items {
    display: none;
    justify-content: space-between;
    width: 600px;
    color: black;
    font-size: 18px;
    & div {
      padding: 30px 20px 15px 20px;
      cursor: pointer;
      font-weight: 500;
    }
    & div a:hover {
      color: rgb(157, 151, 142);
    }
    .active a {
      // background-color: orange;
      color: rgb(194, 186, 177);
      transition: all 0.7s;
    }
  }

  .last-child-wrapper {
    display: flex;

    margin-top: 16px;

    .burger-wrapper {
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      align-items: end;
      cursor: pointer;

      .burger {
        margin-top: 3px;
        width: 32px;
        border-bottom: 2px solid black;
        margin-bottom: 5px;

        &:first-child {
          width: 24px;
        }

        &:last-child {
          width: 14px;
        }
      }
      .close {
        &:first-child {
          width: 32px;
          transform: rotate(-45deg) translateY(14px) translateX(-8px);
          transition: all 0.5s ease-out;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          width: 32px;
          transform: rotate(45deg) translateY(-6px) translateX(0px);
          transition: all 0.5s ease-out;
        }
      }
      .openburger {
        transition: all 0.5s ease-out;
      }
    }
  }
}
.open-items {
  box-sizing: border-box;
  padding-left: 2.5%;
  padding-right: 2.5%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  position: fixed;
  width: 100%;
  margin-top: 8rem;
  padding: 1rem;
  background-color: #fff;

  padding-bottom: 10px;
  z-index: 1;
  animation: 0.5s sideBar;

  div {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@keyframes sideBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;

  .items div {
    padding-bottom: 0 !important;
  }
  .light {
    box-sizing: border-box;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }

  .dark {
    background-color: rgba(51, 51, 51, 0.6);
    background-color: blue;
    box-sizing: border-box;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }

  .open-items {
    z-index: 1;
    background-color: #fff;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    padding-bottom: 0px;
    .items {
      display: flex;
    }
    .last-child-wrapper {
      .burger-wrapper {
        display: none;
      }
    }
  }

  .open-items {
    display: none;
  }
}
