.app {
  // max-width: 1440px;
  // width: 95%;
  // padding-left: 2.5%;
  // padding-right: 2.5%;
  // margin-left: auto;
  // margin-right: auto;
  // height: 100%;
}

.light {
  background-color: #e3e3e3;
  h1,
  h2,
  h6,
  p,
  a,
  label,
  border-color,
  border-bottom,
  div {
    color: #181717;
  }
}

.dark {
  background-color: #1f1e1e;
  h1,
  h2,
  h6,
  p,
  label,
  border-color,
  border-bottom,
  a,
  div {
    color: #e3e3e3;
  }
}

@font-face {
  font-family: "Roman"; /*Can be any text*/
  src: local("timeNewRoman"),
    url("./assets//Fonts/Times-New-Roman/timesNewRoman.ttf") format("truetype");
}
h1,
h2,
h6,
p,
div {
  font-family: "Roman";
}
