.app {
  max-width: 1440px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.light {
  background-color: red;
}

.dark {
  background-color: blue;
}
