* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  margin: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.fullscreen-group {
  width: 100%;
}

// to do
// img {
//   pointer-events: none;
// }
